

.body{

    background-color: whitesmoke;
    background-size: cover;
    font-family: italic;

}

a {

    margin: 0 auto;
    display: block;
}


.frame{

    max-width: 349px;
    border-radius: 29px;
    margin: auto;
    background: white;
    box-sizing: border-box;
    padding: auto;
    color:black;
    margin-top: 99px;
    margin-bottom: 99px;
    font-family: "AvenirNext", Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    border: 1px solid grey;
    padding: 25px;
    



}

h2{

    text-align: center;
    color:black;
    font-weight: 70;
}

input[type=password],input[type=tel],input[type=email]{

    width: 100%;
    box-sizing: border-box;
    padding: 12px 5px;
    background: rgba(0,0,0,0.10);
    outline: none;
    border: none;
    border-bottom: 1px dotted white;
    color: white;
    border-radius: 5px;
    margin: 5px;
    font-weight: bold;

}

input[type=submit]{

    width: 100%;
    box-sizing: border-box;
    padding: 10px 0;
    outline: none;
    border: none;
    background: #0077C5;
    opacity: 0.7;
    border-radius: 19px;
    font-size: 19px;
    color: whitesmoke;

}